* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent {
  height: 500px;
  width: 500px;
  background-color: black;
  padding: 10px;
}

.parent > h1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
form {
  display: flex;
  gap: 10px;
}
form > input {
  flex: 1;
  border-radius: 10px;
  outline: none;
  padding: 8px;
  caret-color: red;
  font-size: 18px;
}

button {
  cursor: pointer;
}
.todo-list {
  height: 391px;
  overflow-y: auto;
}
.todo-list::-webkit-scrollbar {
  width: 6px; /* Set the width of vertical scrollbar */
  height: 6px; /* Set the height of horizontal scrollbar */
}
.list-item {
  /* background-color: red; */
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  margin: 20px 0;
}

.list-item > p {
  flex: 1;
}
.btn-add,
button,
.btn-remove {
  background-color: pink;
  color: white;
  border-radius: 12px;
  padding: 10px;
  border: none;
}
.btn-remove {
  background-color: red;
}
button:hover {
  transform: scale(1.1);
}
